h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
h1{

}

.admin-left {
    display: flex;
    flex-direction: column;
    background: purple;
}
#admin{
    display: flex;
    flex-direction: row;
    
}